@model PagedList.IPagedList<WebApplication1.SvcProfile>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@*
    IEnumerable<WebApplication1.SvcProfile>
*@
@{
    ViewBag.Title = "MyPremium";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>MY PREMIUM SVC</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

@Html.Partial("~/Views/Shared/Partials/ProfileLinks.cshtml")

<div class="container voffset5">
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>SVC Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Billing Date</th>
            <th>Billing Method</th>
            <th></th>
        </tr>
@foreach (var item in Model)
{
    <tr>
        <td></td>
        <td>@Html.DisplayFor(modelItem => item.SvcType.svcName)</td>
        <td>@Html.DisplayFor(modelItem => item.svcStartDate)</td>
        <td>@Html.DisplayFor(modelItem => item.svcEndDate)</td>
        <td>@Html.DisplayFor(modelItem => item.billingDate)</td>
        <td>@Html.DisplayFor(modelItem => item.billingMethod)</td>
        <td></td>
    </tr>
}
    </table>
</div>
<div class="container text-center">
    @Html.PagedListPager(Model, page => Url.Action("MyPremium", new { page }))
</div>
<div class="voffset5">&nbsp;</div>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.billingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.svcStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.svcEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SvcType.svcName)
            </th>
            <th></th>
        </tr>


    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.billingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billingMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.svcStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.svcEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SvcType.svcName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.svcProfileID }) |
                @Html.ActionLink("Details", "Details", new { id=item.svcProfileID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.svcProfileID })
            </td>
        </tr>
    }

    </table>
*@