@model IEnumerable<WebApplication1.SvcType>

@{
    ViewBag.Title = "Premium";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<link href="~/Content/custom.css" rel="stylesheet" />

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>TRY PREMIUM SVC</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

@Html.Partial("~/Views/Shared/Partials/ProfileTab.cshtml")

<div class="container voffset5">
    @*<h2> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> </h2>*@
    <div class="jumbotron voffset3">
        <p>Let opportunities come to you.</p>
        <p>
            When you upgrade to Premium, you can let any member see your full profile and 
            reach out to you for free, so you'll never miss an opportunity.
        </p>
    </div>
    <div class="voffset5">
        <h3>1. Service Types</h3>
    </div>
    <div class="container table-responsive voffset3">
        <table class="table table-hover table-condensed table-striped">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th class="text-center">Service Name</th>
                <th class="text-center">Weeks</th>
                <th class="text-center">Description</th>
                <th class="text-center">Cost</th>
                <th>&nbsp;</th>
            </tr>
            <form role="form" data-toggle="validator" method="post" action="/UserLogin/Premium">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="radio" id="svcTypeID" name="svcTypeID" value="@(item.svcTypeID)"
                                   @if (item.svcTypeID == 1) { WriteLiteral("checked='checked'"); } />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.svcName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.svcWeeks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td class="text-right">
                            @string.Format("{0:C}", item.svcCharge)
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                }
</table>
    </div>
    <div class="voffset5">
        <h3>2. Payment</h3>
        
        <div class="container voffset4">
            <h4><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Pay by credit card</h4>

                <div class="form-group col-lg-7">
                    <label>Card Number</label>
                    <input type="number" class="form-control input-sm" name="card-number" id="card-number" 
                           placeholder="Debit/Credit Card Number: (ex) 8571 8972 6773 8894"
                           required>
                </div>
                <div class="form-group col-lg-7">
                    <label>Name on Card</label>
                    <input type="text" class="form-control input-sm" name="card-holder-name" id="card-holder-name" 
                           placeholder="Card Holder's Name: (ex) Deanna Mcarthor" required>
                </div>
                <div class="form-group col-lg-7">
                    <label>Expiration Date</label>
                    <input type="number" class="form-control input-sm" name="expiry-month" id="expiry-month" placeholder="Month: (ex) 03" required>
                    <input type="number" class="form-control input-sm" name="expiry-month" id="expiry-month" placeholder="Year: (ex) 2017" required>
                </div>
                <div class="form-group col-lg-7">
                    <label>Card CVV</label>
                    <input type="number" class="form-control input-sm" name="cvv" id="cvv" 
                           placeholder="Security Code: (ex) 187" required>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-warning">Pay Now</button>
                </div>
                
            </form>
        </div>

        <div class="container">
            <h4><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Pay using paypal</h4>
            <form role="form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="custom" value="@(HttpContext.Current.User.Identity.Name)" />
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="QB6NSTGYDFVMU">
                <input type="hidden" name="on0" value="Service Types">
                <div class="col-xs-7 voffset3">
                    <select name="os0" class="form-control">
                        <option value="1.Basic Service (4 weeks)">1.Basic Service (4 weeks) $99.99 CAD</option>
                        <option value="2.Short-Term Service (2 weeks)">2.Short-Term Service (2 weeks) $60.99 CAD</option>
                        <option value="3.Long-Term Service (6 weeks)">3.Long-Term Service (6 weeks) $110.99 CAD</option>
                    </select>
                </div>
                <div class="col-xs-7 voffset3">
                    <input type="hidden" name="currency_code" value="CAD">
                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </div>
            </form>
        </div>
        <div class="voffset5">&nbsp;</div>
    </div>
</div>