@model WebApplication1.ViewModels.CareerProfile

@{
    ViewBag.Title = "IndividualProfile";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .individualProfile {
        padding-bottom: 100px;
    }
</style>

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Search Results.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container individualProfile">
    <a href="javascript:void(0);" onclick="history.go(-1);">Return to search results</a>
    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
    <h4><a href="@Html.DisplayFor(model => model.PortfolioURL)"> Portfolio link</a> | <a href="@Html.DisplayFor(model => model.LinkedinURL)"> LinkedIn link</a></h4>
    @*<h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) Profile</h4>*@
    <hr />

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img src="@Html.DisplayFor(model => model.PictureURL)" width="200" height="220">
            <div>
                <br />
                <a href="/Home/ContactProfile?profileID=@Html.DisplayFor(model => model.ProfileID)&firstName=@Html.DisplayFor(model => model.FirstName)&lastName=@Html.DisplayFor(model => model.LastName)"><button type="button" class="btn btn-primary">Contact @Html.DisplayFor(model => model.FirstName)</button></a>
            </div>
            <p>
                <a href="javascript:void(0);" onclick="history.go(-1);">Return to search results</a>
            </p>
        </div>
        <div class="col-sm-8 col-md-9">
            <dl>
                <dt>
                    Location
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Province) - @Html.DisplayFor(model => model.Country)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Skills)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skills)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Industry)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Industry)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JobTitle)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.Years)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Years)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.HighestEducation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HighestEducation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Relocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Relocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompanyTitleYears)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompanyTitleYears)
                </dd>
            </dl>
        </div>
    </div>
</div>



    


