@model WebApplication1.ViewModels.JobSeekers
@{
    ViewBag.Title = "JobSeekers";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<style>
    .seekerHead {
        text-align: center;
    }

    .lessMarginLeft {
        margin-left: -15px;
    }

    .lessPaddingLeft {
        padding: 0 0;
    }

    .btn-themeSeek {
        font-weight: bold;
        width: 160px !important;
        padding: 10px 0;
        color: #fff;
        background-color: #00b3fe;
        border-color: #00b3fe;
        margin: 4px;
    }

        .btn-themeSeek:hover,
        .btn-themeSeek:focus,
        .btn-themeSeek:active,
        .btn-themeSeek.active,
        .open .dropdown-toggle.themeSeek {
            font-weight: bold;
            color: #fff;
            background-color: #384452;
            border-color: #384452;
        }

        .panel-default > .panel-heading {
            padding: 20px 0;
            background-color: #00b3fe;
        }
        .panel-title > a:link {
            color: white;
        }

        .panel-title > a:hover,
        .panel-title > a:visited
         {
            color: black;
        }
</style>

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Job Seekers.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<!-- *****************************************************************************************************************
AGENCY ABOUT
***************************************************************************************************************** -->
<h2 class="seekerHead">Get your Resume in front of hundreds of Employers.</h2>
<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="~/Content/images/jobseekImage.jpg" alt="Get started - it's free.">
        </div>
        <div class="col-lg-6">
            <h3>Get started - it's free.</h3>
            <br />
            @using (Html.BeginForm())
            {
                @*
                    @Html.AntiForgeryToken()
                *@
                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class=" form-group">
                        <label class="control-label" for="Firstname">First Name</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for=" LastName">Last Name</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Email">Email address</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 lessPaddingLeft">
                        <label class="control-label" for="Password">Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-lg-6 lessPaddingLeft">
                        <label class="control-label" for="PasswordConfirm">Confirm Password</label>
                        @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Join Now" class="btn btn-themeSeek" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-eye"></i>
                <h4>Be Seen</h4>
                <p>Get your work profile in front of employers looking for people just like you! By adding your profile to EmployeeArray, you can ensure that employers can easily find you whenever they have a new job opening that matches your skills!</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-clock-o"></i>
                <h4>Save Time</h4>
                <p>Why spend endless hours searching job boards and filling out hundreds of applications when you can just create one EmployeeArray profile and have it viewed by hundreds of employers looking to hire.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-linkedin-square"></i>
                <h4>Connect Linkedin</h4>
                <p>EmployeeArray makes it easy to connect your EA[ ] profile to your Linkedin account and/or include your portfolio website to make your profile even more appealing to potential employers.</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->


<div id="service">
    <h2 class="seekerHead">Get Started in 3 Easy Steps.</h2>
    <div class="container">
        <div class="row centered">
            

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                STEP 1: Register an EmployeeArray Profile
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Registering an account with EmployeeArray is simple, fast and best of all - Free! As per the form above, all that is required is your name, email address and a password. At EmployeeArray we know your time and privacy is valuable so we just stick with the essentials to get your profile up and in front of potential employers.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                STEP 2: Add your Career/Work Experience
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Easily add your previous work experience, skills and education to your EmployeeArray profile. Add as much or little information as you like - it's up to you. The EmployeeArray search engine uses these attributes when employers are searching for qualified candidates.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                STEP 3: Add your Linkedin Account & Portfolio Webiste
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            A few bonus optional features that EmployeeArray makes available to all of its users is the ability to easily add convenient links from their EA[] profiles directly to Linkedin accounts and portfolio websites. Adding these links to your EA[ ] profile is not a requirement, but they can drastically improve the chances of being contact by employers.
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div><! --/container -->
</div><! --/service -->

<!-- *****************************************************************************************************************
TESTIMONIALS
***************************************************************************************************************** -->
<div id="twrap">
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <i class="fa fa-comment-o"></i>
                <p>In the short time since I was first introduced to EmployeeArray, it has quickly become my go to resource for locating qualified IT professionals. EmployeeArray allows me to get instant screened results, which saves me time and the business money.</p>
                <h4><br />John Doe</h4>
                <p>Human Resources Professional</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->

<!-- *****************************************************************************************************************
OUR CLIENTS
***************************************************************************************************************** -->
<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <h3>COMPANIES USING EMPLOYEE ARRAY[ ]</h3>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="~/Content/solid-theme/img/clients/client01.png" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="~/Content/solid-theme/img/clients/client02.png" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="~/Content/solid-theme/img/clients/client03.png" class="img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="~/Content/solid-theme/img/clients/client04.png" class="img-responsive">
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->
