@model WebApplication1.ViewModels.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .verticalSpace {
        padding-top: 50px;
        min-height: 408px;
    }
</style>

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Login.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container verticalSpace">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-5">
                <div class="alert alert-info" role="alert">
                    [TEST ID] <br />
                    (ID) user1@gmail.com<br /> (PW) 12341234 <br />
                    
                </div>
            </div>
        </div>
        
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
<p>&nbsp;</p>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
