
@{
    ViewBag.Title = "AdvancedSearch";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .verticalSpace {
        margin-bottom: 50px;
    }
</style>

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Search for Candidates.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<div class="container verticalSpace">
    @using (Html.BeginForm("AdvancedSearchResults", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="jobTitle" class="col-sm-2 control-label">Job Title</label>
                    <div class="col-sm-6">
                      
                        <select class="form-control" name="jobTitle">
                            <option value="ALL">ALL</option>
                            @{
                                for (int i = 0; i < ViewBag.jobtitles.Count; i++)
                                {
                                     <option value="@ViewBag.jobtitles[i]">@ViewBag.jobtitles[i]</option>
                                }
                            }
                        </select>
                    </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label for="industry" class="col-sm-2 control-label">Industry</label>
                <div class="col-sm-6">
                
                    <select class="form-control" name="industry">
                        <option value="ALL">ALL</option>
                        @{
                            for (int i = 0; i < ViewBag.industries.Count; i++) { 
                                    <option value="@ViewBag.industries[i]">@ViewBag.industries[i]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="country" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="country" placeholder="Canada">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label for="province" class="col-sm-2 control-label">Province</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="province" placeholder="Alberta">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">City</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="city" placeholder="Calgary">
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="relocate"> Include candidates willing to relocate.
                        </label>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="education" class="col-sm-2 control-label">Education</label>
                <div class="col-sm-6">
                    <select class="form-control" name="education">
                        @{
                            for (int i = 0; i < ViewBag.educations.Count; i++)
                                {
                                    <option value="@ViewBag.educations[i]">@ViewBag.educations[i]</option>
                                }
                        }
                    </select> (minimum education required)
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <div class="form-group">
                <label for="industry" class="col-sm-2 control-label">Experience</label>
                <div class="col-sm-6">
                    <select class="form-control" name="experience">
                        <option value="0">None</option>
                        <option value="1">1-2 years</option>
                        <option value="2">3-4 years</option>
                        <option value="3">5-10 years</option>
                        <option value="4">10+ years</option>
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>

            <hr />

            <div class="form-group">
                <label for="platform" class="col-sm-2 control-label">Platforms</label>
                <div class="col-sm-6">
                    <select multiple class="form-control" name="platform">
                        <option value="ALL" selected="selected">ALL</option>
                        @{  
                            for (int i = 0; i < ViewBag.platforms.Count; i++)
                            {
                            <option value="@ViewBag.platforms[i]">@ViewBag.platforms[i]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>


            <hr />

            <div class="form-group">
                <label for="language" class="col-sm-2 control-label">Languages</label>
                <div class="col-sm-6">
                    <select multiple class="form-control" name="language">
                        <option value="ALL" selected="selected">ALL</option>
                        @{
                            for (int i = 0; i < ViewBag.skills.Count; i++)
                            {
                             <option value="@ViewBag.skills[i]" >@ViewBag.skills[i]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-4">
                </div>
            </div>


            <hr />


            @*<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="rememberMe"> Remember my search parameters
                        </label>
                    </div>
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>


    }
</div> <!-- /container -->









@*<h2>Advanced Search</h2>

@using (Html.BeginForm("DisplaySearchResults", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="skills">
            <h3>Languages Required</h3>
            <hr />


            @Html.Label("Ajax")
            <input type="checkbox" name="Ajax" />
            @Html.Label("C")
            <input type="checkbox" name="C" />
            @Html.Label("C#")
            <input type="checkbox" name="C#" />
            @Html.Label("C++")
            <input type="checkbox" name="C++" />
            @Html.Label("Ojective C")
            <input type="checkbox" name="Ojective C" />
            @Html.Label("ASP.NET")
            <input type="checkbox" name="ASP.NET" />
            @Html.Label("PHP")
            <input type="checkbox" name="PHP" /><br />
            @Html.Label("Ruby")
            <input type="checkbox" name="Ruby" />
            @Html.Label("Python")
            <input type="checkbox" name="Python" />
            @Html.Label("Perl")
            <input type="checkbox" name="Perl" />
            @Html.Label("XML")
            <input type="checkbox" name="XML" />
            @Html.Label("Javascript")
            <input type="checkbox" name="Javascript" /><br />
            @Html.Label("Java")
            <input type="checkbox" name="Java" />
            @Html.Label("SQL")
            <input type="checkbox" name="SQL" />
            @Html.Label("VisualBasic")
            <input type="checkbox" name="VisualBasic" />
            @Html.Label("Assembly")
            <input type="checkbox" name="Linux" />
            @Html.Label("AngularJS")
            <input type="checkbox" name="AngularJS" />
            <br />
            <h3>Systems Knowledge</h3>
            <br />
            <input type="checkbox" name="Testing" />
            @Html.Label("iOS")
            <input type="checkbox" name="iOS" />
            @Html.Label("Android")
            <input type="checkbox" name="Android" />
            @Html.Label("Linux")
            <input type="checkbox" name="Linux" />
            <br />
        </div>
        <hr />
        <div id="location">
            @Html.Label("Location Based In: ")
            @Html.Editor("locationInput")
            @Html.Label("Employee relocation?")
            @Html.Label("yes")
            <input type="checkbox" />
            @Html.Label("no")
            <input type="checkbox" />
        </div>
        <hr />
     
        <h3>Previous experience preferred?</h3>
           <table class="table-condensed">
               <th>Job</th>
               <th>Industry</th>
               <th>Title</th>
               <th>Years of Experience</th>
                    <tr>
                        <td>1</td>
                        <td>
                            <select name="industry1">
                                <option value="1">Video Graphics</option>
                                <option value="2">Development</option>
                                <option value="3">Reverse Engineering</option>
                                <option value="4">Database Analysis</option>
                                <option value="5">Design</option>
                                <option value="6">Testing</option>
                            </select>
                        </td>
                        <td>
                            <select name="jobs1">
                                <option value="1">Junior Developer</option>
                                <option value="2">Senior Developer</option>
                                <option value="3">Software Tester</option>
                                <option value="4">Project Manager</option>
                                <option value="5">Freelancer</option>
                            </select>
                        </td>
                        <td>
                            <select name="Years1">
                                <option value="1">1 to 2 years</option>
                                <option value="2">2 to 3 years</option>
                                <option value="3">3 to 4 years</option>
                                <option value="4">4 to 5 years</option>
                                <option value="4">5+ years</option>
                            </select>
                        </td>
                        <td><input ="submit" value="extra comments here"/></td>
                    </tr>
                   <tr>
                       <td></td>
                       <td>OR</td>
                   </tr>
               <tr>
                   <td>2</td>
                   <td>
                       <select name="industry2">
                           <option value="1">Video Graphics</option>
                           <option value="2">Development</option>
                           <option value="3">Reverse Engineering</option>
                           <option value="4">Database Analysis</option>
                           <option value="5">Design</option>
                           <option value="6">Testing</option>
                       </select>
                   </td>
                   <td>
                       <select name="jobs2">
                           <option value="1">Junior Developer</option>
                           <option value="2">Senior Developer</option>
                           <option value="3">Software Tester</option>
                           <option value="4">Project Manager</option>
                           <option value="5">Freelancer</option>
                       </select>
                   </td>
                   <td>
                       <select name="Years2">
                           <option value="1">1 to 2 years</option>
                           <option value="2">2 to 3 years</option>
                           <option value="3">3 to 4 years</option>
                           <option value="4">4 to 5 years</option>
                           <option value="4">5+ years</option>
                       </select>
                   </td>
                   <td><input ="submit" value="extra comments here" /></td>
               </tr>
               <tr>
                   <td></td>
                   <td>OR</td>
               </tr>

               <tr>
                   <td>3</td>
                   <td>
                       <select name="industry3">
                           <option value="1">Video Graphics</option>
                           <option value="2">Development</option>
                           <option value="3">Reverse Engineering</option>
                           <option value="4">Database Analysis</option>
                           <option value="5">Design</option>
                           <option value="6">Testing</option>
                       </select>
                   </td>
                   <td>
                       <select name="jobs3">
                           <option value="1">Junior Developer</option>
                           <option value="2">Senior Developer</option>
                           <option value="3">Software Tester</option>
                           <option value="4">Project Manager</option>
                           <option value="5">Freelancer</option>
                       </select>
                   </td>
                   <td>
                       <select name="Years3">
                           <option value="1">1 to 2 years</option>
                           <option value="2">2 to 3 years</option>
                           <option value="3">3 to 4 years</option>
                           <option value="4">4 to 5 years</option>
                           <option value="4">5+ years</option>
                       </select>
                   </td>
                   <td><input ="submit" value="extra comments here" /></td>
               </tr>

           </table>
 
        <hr />
        <h3>Highest Education</h3>
        <select name="education">
            <option value="Doctorate">Doctorate</option>
            <option value="Masters">Masters</option>
            <option value="Bachelors">Bachelors</option>
            <option value="Degree">Degree</option>
            <option value="Certificate">Certificate</option>
        </select>
        <hr />
        <p>
            <input type="submit" value="Search!" class="btn btn-primary" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to Index", "Index")
</div>*@