@model IEnumerable<WebApplication1.Career>

@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>VIEW CAREER.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

@Html.Partial("~/Views/Shared/Partials/ProfileTab.cshtml")
@Html.Partial("~/Views/Shared/Partials/ProfileLinks.cshtml")

<div class="container">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.industry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.years)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.industry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.years)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.ActionLink("EDIT", "CareerEdit", new { careerID = item.careerID }) |
                    @Html.ActionLink("DELETE", "CareerDelete", new { careerID = item.careerID }) 
   
                </td>
            </tr>
        }
    </table>
 
</div>

 